
#box-with-regex {
    padding-bottom: 20px;
}

#input-regex {
    font-family: monospace;
    font-size: 18px;
}

#error-alert {}

#error-alert-content {
    white-space: pre;
    font-family: monospace;
    font-size: 14px;
}

.inputs-container {
    padding-top: 10px;
    padding-bottom: 10px;
}

.input-box {
    padding: 10px;

    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: -10px;
    margin-right: 0px;

    border: 1px solid lightgray;
    border-left-width: 10px;
    border-radius: 3px;
}

.test-passed {
    border-color: #5cb85c;
}

.test-failed {
    border-color: #d9534f;
}

.test-processed {
    border-color: #0093d9;
}

.input-textarea {
    font-family: monospace;
    font-size: 14px;
}

.input-box .panel-group {
    margin-bottom: 0px;
}

.input-box table {
    margin-bottom: 0px;
    font-size: 12px;
}

.input-box table td {
    vertical-align: baseline;
}

table .col-min {
    width: 1px;
    white-space: nowrap;
}

table .col-max {
    /* nothing */
}

.output-text {
    font-family: monospace;
    background-color: lightgray;

    white-space: pre-wrap;
    word-break: break-all;
}
